body{
    background-color:#f2f0e9;
    margin:0;
}
.navbar_container{
    background-color:#FFFFFF;
    height:50px;
    padding:10px;
    border-bottom:1px solid black;
    padding-bottom:50px;
}
.navbar_logo{
    float:left;
    width:30%;
}
.navbar_logo img{
    width:100px;
    height:50px;
}
.nav_right_panel{
    float:right;
    width: 40%;
}
.btn-primary{
    padding:10px;
    border-radius:10px;
    color:#FFFFFF;
    background-color:#007bff;
    border:1px solid #007bff;
    cursor:pointer;
}
.btn-md{
    font-size:15px;
}
.btn-sm{
    font-size:12px;
}
.nav_right_panel button{
    float:right;
}
.btn-default{
    padding:10px;
    border-radius:10px;
    color:black;
    background-color:#ebe9e1;
    border:1px solid #ebe9e1;
}
.mr-10{
    margin-right:10px;
}
.ml-10{
    margin-left:10px;
}
.mt-10{
    margin-top:10px;
}
.mb-10{
    margin-bottom:10px;
}
.login_container{
    width:400px;  
    height:300px;  
    margin:0 auto;
    background-color:#FFFFFF;
    margin-top:50px;
    padding:10px;
}
.input-field{
    width:100%;
    background-color: transparent;
    border: 0px solid;
    border-bottom:1px solid black;
    font-size:14px;
    padding-bottom:10px;
}
.input-field:focus{
    outline: none;
}
.login_form_container{
    width:90%;
    margin:0 auto;
}
.login_form_container button{
    width:100%;
}
.login_form_container p{
    margin-top:20px;
    text-align:center;
}
.login_form_container h2{
    text-align:center;
}

.dropbtn {
    color: black;
    border: none;
    cursor: pointer;
    font-size:16px;
    float:right;
    margin-top:5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float:right;
    margin-right:20px;
    margin-top:10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:25px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown img{
    width:30px;
    height:30px ;
    float:left;
    border-radius:50% ;
    padding-right:10px;
  }
  .logo_cart{
    float:right;
    margin-top:15px;
    padding-right:10px;
    cursor:pointer;
    color:grey;
    font-size:20px;
  }
  .category_container{
      width:90%;
      background-color:#FFFFFF;
      margin:0 auto;
      margin-top:30px;
      padding:10px;
      border-bottom:1px solid grey;
  }

  .category_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  
  .category_container li {
    float: left;
    cursor:pointer;
  }
  .category_text{
      border:1px solid grey;
      padding:10px;
      width:80px;
      text-align:center;
      font-weight:bold;
      border-radius:20px;
      margin-left:45px;
  }
  .category_active{
      background-color:blue;
      color:#FFFFFF;
      border:1px solid blue;
  }
  .items_container{
    width:90%;
    background-color:#FFFFFF;
    margin:0 auto;
    margin-top:5px;
    padding:20px;
  }

  
  .items_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  
  .items_container li {
    float: left;
  }
  .item_container{
      width:350px;
      border-right:1px solid grey;
      padding:10px;
      margin-left:30px;
      margin-top:30px;
      overflow:none;
  }
.item_image{
    float:left;
    width:70%;
}
.item_info{
    float:right;
    width:25%;
    text-align:left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.item_info_holder span:first-child{
    font-weight:bold;
}
.item_info_holder span:first-child{
    font-weight:bold;
    font-size:14px;
}
.item_info_holder span:last-child{
    font-size:12px;
}
.item_option{
    width: 75%;
    margin:0 auto;
    margin-top:5px;
}
.item_option button:first-child{
    width:100%;
    /* float:left; */
    background-color:green;
    border:1px solid green;
    color:#FFFFFF;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}
/* .item_option button:last-child{
    width:49%;
    float:right;
    background-color:#ffc107;
    border:1px solid #ffc107;
    color:black;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
} */
.pagination {
    margin:0 auto;
    width:100%;
    margin-left:50px;
  }
  
  .pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .item_pagination{
      width:100%;
      background-color:#FFFFFF;
      margin:0 auto;
      width:93%;
      padding-bottom:30px;
      padding-top:20px;
  }
  .profile_container{
      width:90%;
      background-color:#FFFFFF;
      margin:0 auto;
      margin-top:30px;
      padding:20px;
  }
.div_profile{
    width:100%;
    overflow:hidden;
    padding-bottom:20px;
}
.div_profile h1{
    text-align:center;
    letter-spacing:3px;
}
.div_profile img{
    width:100px;
    height:100px;
    display:block;
    margin:0 auto;
    border-radius:50%;
    cursor:pointer;
}
.user_information{
    width:90%;
    margin:0 auto;
    padding:10px;
}
.user_info_holder{
    width: 47%;
    float:left;
    border:1px solid grey;
    padding:10px;
    padding-bottom:18px;
    border-radius:10px;
}
.div_profile button{
    display:block;
    margin:0 auto;
    width:200px;
    background-color:#ffc107;
    border:1px solid #ffc107;
    color:black;
    padding:5px;
    font-weight:bold;
    cursor:pointer; 
    border-radius:20px;
}
.user_activity{
    width: 47%;
    float:right;
    border:1px solid grey;
    padding:10px;
    border-radius:10px;
}
.user_activity span:first-child{
    font-weight:bold;
    text-align:center;
    display:block;
    font-size:16px;
}
.my_orders_container{
    background-color:#f2f0e9;
    width:85%;
    margin:0 auto;
    padding:10px;
}
.my_orders_container h2{
    margin-left:20px;
}
.process_type_container{
    width:90%;
    border-bottom:2px solid grey;
    margin:0 auto;
}
.process_type_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f0e9;
  }
  
  .process_type_container li {
    float: left;
    cursor:pointer;
  }
  .list_container{
      padding:10px;
      text-align:center;
      font-size:12px;
      font-weight:bold;
  }
  .list_selected{
      border-bottom:2px solid grey;
      border-radius:2px;
  }
  .sorting_orders{
      background-color:#FFFFFF;
      width:76%;
      margin:0 auto;
      padding:10px;
      overflow:hidden;
  }
  .sorting_orders h3{
      margin:0;
      float:left;
      margin-top:10px;
  }
  .sorting_orders select{
      float:left;
      margin-left:10px;
      padding:5px;
      width:120px;
      height:40px;
  }
  .order_item_container{
    background-color:#FFFFFF;
    width:76%;
    margin:0 auto;
    padding:10px;
    overflow:hidden;
    margin-top:10px;    
  }
  .store_name{
      width:200px;
      padding:10px;
      text-align:left;
      float:left;
      font-weight:bold;
      letter-spacing:2px;
  }
  .type_name{
      padding:5px;
      background-color:#f2f0e9;
      text-align:center;
      width:100px;
      border-radius:20px;
      float:right;
  }
  .items_request{
    background-color:#FFFFFF;
    width:76%;
    margin:0 auto;
    padding:10px;
    overflow:hidden;
    margin-top:2px;    
  }




  /* table css */
  .table-list{
      width:100%;
  }
.item_info_td{
    width: 45%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.price_info_td{
    width: 25%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    margin-top:-100px;
}
.quantity_info_td{
    width: 25%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    margin-top:-100px;
}
.item_info_td_container img{
    width:150px;
    height:150px;
    float:left;
}
.item_info_td_container p{
    float:left;
    font-size:16px;
    font-weight:bold;
    margin-left:10px;
}
.item_info_td_container span{
    display:block;
    float:left;
    margin-left:10px;   
    color:#bbbbbb;
}
